<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Paws Go 5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7BF316D293FC5A4005C543E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BF3182293FC5A6005C543E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7BF318C293FC5A6005C543E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
